<!DOCTYPE html>
<html>
<title>demo</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<div id="app">
	<h1>{{ message }}</h1>
	<button class="btn btn-primary" v-on:click="reverseMessage">click me</button>
	<button class="btn btn-primary" v-on:click="showName">click you</button>
	<input type="text" v-model="message">
	<p id="paragraph">This is a paragraph.</p>
	<ul id="v-for-object" class="demo">
	  <li v-for="(item,key) in items">
	    {{ key+1 }}:{{ item }}
	  </li>
	</ul
</div>
<div>
	<h1>out side</h1>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">
	var app5 = new Vue({
	  el: '#app',
	  data: {
	    message: 'Hello Vue.js!',
	    userName: 'Nguyen Van A',
	    items: ['nam','nams']
	  },
	  methods: {
	    reverseMessage: function () {
	      this.message = this.message.split('').reverse().join('');
	    },
	    showName: function () {
	    	alert(this.message);
	    }

	  }
	})
	
</script>
</body>
</html>